<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': postLoveIts > 0,
                'list-group-item-danger': postLoveIts < 0}">
  <h3>{{ postTitle }}</h3>
  <p>{{ postCreatedAt | date: "short" }}</p>
  <p>{{ postContent }}</p>
  <button type="button" 
          [ngClass]="{'btn btn-success': true}"
          (click)="onUp()">Love it!</button>
  <button type="button" 
          [ngClass]="{'btn btn-danger': true}"
          (click)="onDown()">Don't love it!</button>
</li>
